$clr-primary: #006241;
$clr-primary-secondary: #1e3932;
$clr-secondary: #d4e9e2;
$clr-dark-primary: #000;
$clr-dark-secondary: #2c2c32;
$clr-light-primary: #ffffff;
$clr-light-secondary: #faf6ee;

$ff-primary: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;

$break-sm: 500px;
$break-med: 768px;
$break-lg: 970px;
