* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.bg--primary {
  background: #006241;
}

.text--primary {
  color: #006241;
}

.bg--dark-primary {
  background: #000;
}

.text--dark-primary {
  color: #000;
}

.bg--dark-secondary {
  background: #2c2c32;
}

.text--dark-secondary {
  color: #2c2c32;
}

.bg--light-primary {
  background: #ffffff;
}

.text--light-primary {
  color: #ffffff;
}

.bg--light-secondary {
  background: #faf6ee;
}

.text--light-secondary {
  color: #faf6ee;
}

.d--flex {
  display: flex;
}

.d--grid {
  display: grid;
}

.d--block {
  display: block;
}

.text--key {
  text-align: center;
}

.text--key {
  text-align: justify;
}

.py--1 {
  padding: 1rem 0;
}

.ml--1 {
  margin-left: 1rem;
}

.py--2 {
  padding: 2rem 0;
}

.ml--2 {
  margin-left: 2rem;
}

.py--3 {
  padding: 3rem 0;
}

.ml--3 {
  margin-left: 3rem;
}

.py--4 {
  padding: 4rem 0;
}

.ml--4 {
  margin-left: 4rem;
}

.py--5 {
  padding: 5rem 0;
}

.ml--5 {
  margin-left: 5rem;
}

.py--6 {
  padding: 6rem 0;
}

.ml--6 {
  margin-left: 6rem;
}

.py--7 {
  padding: 7rem 0;
}

.ml--7 {
  margin-left: 7rem;
}

.py--8 {
  padding: 8rem 0;
}

.ml--8 {
  margin-left: 8rem;
}

.py--9 {
  padding: 9rem 0;
}

.ml--9 {
  margin-left: 9rem;
}

.py--10 {
  padding: 10rem 0;
}

.ml--10 {
  margin-left: 10rem;
}

.py--11 {
  padding: 11rem 0;
}

.ml--11 {
  margin-left: 11rem;
}

.py--12 {
  padding: 12rem 0;
}

.ml--12 {
  margin-left: 12rem;
}

.py--13 {
  padding: 13rem 0;
}

.ml--13 {
  margin-left: 13rem;
}

.py--14 {
  padding: 14rem 0;
}

.ml--14 {
  margin-left: 14rem;
}

.py--15 {
  padding: 15rem 0;
}

.ml--15 {
  margin-left: 15rem;
}

.py--16 {
  padding: 16rem 0;
}

.ml--16 {
  margin-left: 16rem;
}

.py--17 {
  padding: 17rem 0;
}

.ml--17 {
  margin-left: 17rem;
}

.py--18 {
  padding: 18rem 0;
}

.ml--18 {
  margin-left: 18rem;
}

.py--19 {
  padding: 19rem 0;
}

.ml--19 {
  margin-left: 19rem;
}

.py--20 {
  padding: 20rem 0;
}

.ml--20 {
  margin-left: 20rem;
}

.justify--start {
  justify-content: flex-start;
}

.align--start {
  align-items: flex-start;
}

.justify--end {
  justify-content: flex-end;
}

.align--end {
  align-items: flex-end;
}

.justify--between {
  justify-content: space-between;
}

.align--between {
  align-items: space-between;
}

.justify--around {
  justify-content: space-around;
}

.align--around {
  align-items: space-around;
}

.justify--center {
  justify-content: center;
}

.align--center {
  align-items: center;
}

.mb--1 {
  margin-bottom: 1rem;
}

.gap--1 {
  gap: 1rem;
}

.py--1 {
  padding: 1rem 0;
}

.mb--2 {
  margin-bottom: 2rem;
}

.gap--2 {
  gap: 2rem;
}

.py--2 {
  padding: 2rem 0;
}

.mb--3 {
  margin-bottom: 3rem;
}

.gap--3 {
  gap: 3rem;
}

.py--3 {
  padding: 3rem 0;
}

.mb--4 {
  margin-bottom: 4rem;
}

.gap--4 {
  gap: 4rem;
}

.py--4 {
  padding: 4rem 0;
}

.mb--5 {
  margin-bottom: 5rem;
}

.gap--5 {
  gap: 5rem;
}

.py--5 {
  padding: 5rem 0;
}

.mb--6 {
  margin-bottom: 6rem;
}

.gap--6 {
  gap: 6rem;
}

.py--6 {
  padding: 6rem 0;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.btn {
  padding: 1rem 2rem;
  display: inline-block;
  border: 1px solid transparent;
}

.btn--primary {
  color: #ffffff;
  background: #006241;
}
.btn--primary:hover {
  background: #003423;
}

.btn--light {
  color: #000;
  background: #ffffff;
}
.btn--light:hover {
  background: #e8e8e8;
}

.links {
  margin: 2rem 0;
  border-top: 1px solid #e6e6e6;
  background: #ffffff;
  padding: 3rem 0;
  position: relative;
}
.links__wrapper {
  position: relative;
}
.links__wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -2rem;
  border-bottom: 1px solid #e6e6e6;
}
@media screen and (max-width: 768px) {
  .links__wrapper::before {
    width: 90%;
    left: 5%;
  }
}
.links__wrapper h2 {
  position: absolute;
  right: -2rem;
  top: 0;
  letter-spacing: 1px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: none;
}
@media screen and (min-width: 970px) {
  .links__wrapper h2 {
    display: flex;
  }
}
.links__wrapper h2 span {
  font-weight: bolder;
  line-height: 1;
}
.links__wrapper h2 span:last-child {
  font-size: 1.2rem;
}
@media screen and (min-width: 970px) {
  .links__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0;
  }
}
.links__item h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: #333333;
}
@media screen and (min-width: 970px) {
  .links__item h4 {
    margin-bottom: 1rem;
    font-size: 2.2rem;
  }
}
.links__item h4 i {
  transition: 0.5s ease;
  cursor: pointer;
}
@media screen and (min-width: 970px) {
  .links__item h4 i {
    display: none;
  }
}
.links__item h4 i.open {
  transform: rotate(-180deg);
  transition: 0.5s ease;
}
.links__item ul {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease;
  margin-left: 2rem;
}
@media screen and (min-width: 970px) {
  .links__item ul {
    max-height: 25rem;
    margin-left: unset;
  }
}
.links__item ul li {
  margin: 2rem 0;
}
@media screen and (min-width: 970px) {
  .links__item ul li {
    margin: 1rem 0;
  }
}
.links__item ul li a {
  font-size: 1.4rem;
  color: #666666;
}
.links__item ul li a:hover {
  color: black;
}
@media screen and (min-width: 970px) {
  .links__item ul li a {
    font-size: 1.7rem;
  }
}
.links__item ul.open {
  transition: 0.5s ease;
  max-height: 25rem;
}
.links__item:nth-child(2) {
  margin: 3rem 0;
}
@media screen and (min-width: 970px) {
  .links__item:nth-child(2) {
    margin: unset;
  }
}/*# sourceMappingURL=main.css.map */